<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wei's little group at Tsinghua">
    <title>Wei's little group</title>

    <link rel="stylesheet" href="milligram.css">
</head>

<body>

    <main class="wrapper">
        <div>
            <header class="header" id="title">
                <section class="container">
                    <br>
                    <!-- ><img src="logo.jpg" width="150" align="left"> -->
                    <h0> <i>Wei</i> 's little group </h0>
                    <div style="margin: 1.5rem;"></div>
                    <h5>A subgroup of the <a href="https://ymsc-strings.github.io">string theory family at YMSC, Tsinghua</a></h5>
                </section>
            </header>
        </div>
        <ul class="navbar">
            <li><a id="index" href="index.html"> Home </a></li>
            <!-- <li><a id="seminars" href="Seminars.html">Seminars</a></li> -->
            <!-- <li><a id="workshops" href="Workshops.html">Workshops</a></li> -->
            <!-- <li><a id="courses" href="Courses.html">Courses</a></li> -->
            <li><a id="people" href="People.html">People</a></li>
            <!-- <li><a id="opportunities" href="Opportunities.html">Opportunities</a></li> -->
        </ul>
        <script>
            document.getElementById("{{ page.title }}").className = "active"
        </script>

        <br/>
        <br/>

        {{ content }}




        <footer class="footer">
            <section class="container">
                <br>
                <br>
            </section>
        </footer>
    </main>



</body>

</html>
